:root {
    --background: #13092b;
    --foreground: #f9027a;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: 'Poppins', 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

a {
    color: #ddd;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: var(--background);
    color: var(--foreground);
    font-size: 4.5vmax;
}

.switch-bar {
    border: 2px solid var(--foreground);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}

.switch-item {
    font-size: 1.5vmax;
    padding: 0.5vmax;
    background: none;
    color: var(--foreground);
    border: none;
    border-right: 2px solid var(--foreground);
}

.switch-item:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.switch-item:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
    border: none;
}

.switch-item:hover {
    backdrop-filter: brightness(2);
}

.switch-item.selected {
    background-color: var(--foreground);
    color: var(--background);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal {
    font-size: 1rem;
    background-color: var(--background);
    border-radius: 16px;
    border: 2px solid var(--foreground);
    max-width: 720px;
    padding: 16px;
}

.button {
    font-size: 1.25em;
    padding: 8px;
    border-radius: 8px;
    background: none;
    color: var(--foreground);
    border: 2px solid var(--foreground);
}

.button:hover {
    backdrop-filter: brightness(2);
}

.about-button {
    color: #bb3e7b;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: calc(1.5vmax + 16px);
    height: calc(1.5vmax + 16px);
    border: none;
    font-size: 1.5vmax;
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.about-button:hover {
    color: var(--foreground);
    border: solid 2px var(--foreground);
}
